@{
    ViewData["Title"] = "Home Page";
}

<h1>Mike's Site</h1>

<div class="text-center">
    <h1 class="display-4">Welcome world</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
